* {
     padding:0;
     margin:0;
     box-sizing: border-box;
}

body {
     background-color: rgb(225, 225, 225);
}
header {
        height: 130px;
        width:1400px;
        background-color: white;
        border-top: 8px solid darkgreen;
        display:flex;
        flex-direction: row;
        position:sticky;
        top:0;
}

.container {  
              height:130px;
              width:1400px;
              display:flex;
              margin-left: 150px;
              margin-right: 150px;
          
}

#logo {
        height:100px;
        width:100px;
}
#divlogo {
           display:flex;
           flex-direction: column;
           align-content: center;
           
}

#divlogo span {
              margin-top: -12px;
              color:blue;
              font-weight: bold;
              font-size: small;
}

#searchbar input {
           height:35px;
           width:450px;
           position: relative;
           top: 30px;
           left: -15px;
           
           border:0.5px solid rgb(208, 204, 204);
}

#searchbar i {
              color: darkolivegreen;
              position: relative;
              top:30px;
              right:450px;
              }
 .container1{
             height:35px;
             width:150px;
             background-color: rgb(238, 231, 231);
             text-align: center;
             padding-top: 10px;
             margin-top: 30px;
             margin-left: -20px;
             font-size: small;

 }

button.container1 {
               background-color: black;
               color:white;
               width:90px;
               padding-top:0px;
               margin-left: 20px;
}

#shop {
       display: flex; 
       height:30px;
       align-items: flex-end;
       
         
}

#shop button {
        
           background-color: forestgreen;
           display:flex;
           margin-right: 20px;
           margin-left: 20px;
           position: relative;
           top:35px;
           height: 33px;
           padding-top: 3px;
         
}

#grocery_list {
         display:grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         margin-left:150px;
         margin-right: 150px;
}

#list1 img {
            height:500px;
            width:200px;
            margin-top: 40px;
}